

/* Paleta de cores:

    Verde: #49a09d
    Lilás: #5f2c82

*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

section {
    width: 230px;
    margin: auto;
    background-color: aqua;
}

#imagem {
    width: 230px;
    height: 210px;
    margin: auto;
    background: black url('../imagens/paisagem.jpg') center top no-repeat fixed;
    background-size: contain;

}